@media print {
  * {
    background-color: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  @page  
  { 
      size: auto;   /* auto is the initial value */ 
  
      /* this affects the margin in the printer settings */ 
      margin: 25mm 25mm 25mm 25mm;  
  }   
  body {
    margin:0;
    padding-top: 0;
    font-size:1.4em !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  pre, blockquote {
    /*border: 1px solid #999;*/
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group; /* h5bp.com/t */
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  a, .link {
    color: #000;
    text-decoration: underline;
  }
  .button, .button--primary {
    background: none !important;
  }
  .messages {
    border-width: 1px;
    border-left-color: #999;
  }
  .print-only {
    display: block;
  }
  .print-hidden {
    display:none;  
  }
  p {
   margin: 0 auto 1em auto !important;  
  }
  h1 { font-size: 2.2rem !important; font-weight:bold !important; }
  h2 { font-size: 1.8rem !important; font-weight:bold !important; }
  h3 { font-size: 1.6rem !important; }
  h4 { font-size: 1.4rem !important; }
  h5 { font-size: 1.4rem !important; }
  h6 { font-size: 1.4rem !important; }
    
  header {
    background:none !important;
    border-bottom:solid 3px #000;
    min-height:auto !important;
    overflow:auto;
  }
  header #logo-site-name {
    float:left;
  }
  nav,
  .mobile-menu-icons,
  .guide-header,
  .guide-summary,
  footer {
    display:none !important;
  }
  .logo {
    width:75px !important;
    height:auto;
  }
  .logo img {
    padding:5px !important;
  }
  header h1.page-title {
    display:inline-block !important;
    margin:0 !important;
    font-size: 2.6rem !important;
    font-weight:normal !important;
    line-height:2.4 !important;
  }  
}