---
---

<section class="topics">
  {% assign groups = site.guides | group_by: "topic" | sort: "name" %}
  {% for group in groups %}
    {{ group | json }}
		{% assign name = group.title %}
		{% assign guides = group.items %}
		{% assign size = group.items | size %}
		<section class="category">
			<h2>{{ name }} ({{ size }})</h2>

			<ul>
        {% for guide in guides %}
          <li><a href="{{guide.url}}">{{guide.title}}</a></li>
        {% endfor %}
			</ul>
		</section>
	{% endfor %}
	
</section>