---
---

<section class="categories">
    {% assign groups = site.guides | group_by: "categories" | sort: "name" %}


    {% for guide in site.guides %}
       {{ guide.title }}
    {% endfor %}


    {% for guide in site.guides %}
		{% assign name = guide.name %}
		{% assign posts = guide.items %}
		{% assign size = guide.items | size %}
		<section class="category">
				<h3>
					<a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ name | replace: "-", " " }}</a>
				</h3>

			<ul>
				{% if size > 4 %}
					<li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li>
				{% endif %}
			</ul>
		</section>
	{% endfor %}
</section>