{% case include.icon %}
	{% when "Facebook" %}
    <i class="fa fa-fw fa-facebook"></i>
	{% when "Instagram" %}
    <i class="fa fa-fw fa-instagram"></i>
	{% when "LinkedIn" %}
    <i class="fa fa-fw fa-linkedin"></i>
	{% when "Pinterest" %}
    <i class="fa fa-fw fa-pinterest"></i>
	{% when "Tumblr" %}
    <i class="fa fa-fw fa-tumblr"></i>
	{% when "Twitter" %}
    <i class="fa fa-fw fa-twitter"></i>
	{% when "YouTube" %}
    <i class="fa fa-fw fa-youtube"></i>
	{% when "Github" %}
    <i class="fa fa-fw fa-github"></i>
	{% when "RSS" %}
    <i class="fa fa-fw fa-rss"></i>
	{% when "Email" %}
    <i class="fa fa-fw fa-email"></i>
	{% when "Subscribe" %}
    <i class="fa fa-fw fa-pencil"></i>
	{% when "Share" %}
    <i class="fa fa-fw fa-share"></i>
	{% when "Close" %}
    <i class="fa fa-fw fa-times"></i>
{% endcase %}
