/* Tablet/Desktop */
@media screen and (min-width:768px) {

  #content {
    max-width:900px;
  }
  #logo-site-name {
    /*float:left;*/
  } 

  nav, 
  nav.hide {
    display:block;
    position:relative;
    top:auto;
    bottom:auto;
    right:auto;
    width:auto;
    text-align:right;
    opacity:.9;
  }

  .menu li {
    display:inline;
  }
  .menu li a {
    display:inline-block;
    font-weight:normal;
    border:none;
    border-bottom:solid 3px transparent;
    
  }
  .menu ul {
    display:none;
  }
  
  
  
  
  
}