/**
 * This is a general theme CSS file used to style all mobile & global
 * styles following the "mobile first" pattern. To stay organized and
 * prevent this file becoming long and unmanageable, it's recommended you
 * use component stylesheets when possible before using this file.
 *
 * After you have defined your global styles here, all tablet &
 * desktop media queries should be defined separately in the
 * breakpoints.css file.
 */

/**
 * Layout and containers
 */
html {
  overflow-x: hidden;
}
html, #container, .inner {
  position: relative;
  min-height: 100%;  
  /*background-color:#222;*/
}
#container {
  margin:0 auto;
  margin-bottom:100px;
  max-width:100%;
  overflow:auto;
}
a {
  color:#2d63af;
}
#content {
  padding:20px;
  margin:0 auto;
  /*background:rgba(0,0,0,.5);*/
  margin:0 auto;
}

#content a {
  border-bottom:dotted 1px #949494;
}



/* Uncomment for full scale background style */
/*
html, #container, .inner { background-color:transparent;}
#content { background: rgba(0,0,0,.8); }
html {
  background:url(../../images/background/tapemachine.jpg) center center no-repeat fixed;
  background-size:cover;
}
*/

/**
 * Header
 */
header {
  /*
  background:#16191e;
  color:#FFF;
  */
  /*position:sticky;
  top:0px;
  z-index:10;
  */
}
header a {
  /*color:#cfd2da;*/
}
header {
  /*background:url(../../../assets/images/header-bg.jpg) #333 left center no-repeat fixed;*/
  background:url(../../../assets/images/header-bg.jpg) #333 no-repeat left center scroll;
  background-size:cover;  
  min-height:20rem;
}
#logo-site-name {
  /*color:#000;*/
  margin-right:2rem;
}
#site-name {
  font-size:2.4rem;
  margin:0;
  padding:0 1rem;
  vertical-align:middle;
  display:inline-block;
  line-height:56px; /* This is affected by top & bottom border widths*/
}
.logo {
  display:inline-block;
}
.logo a {
}
.logo img {
  vertical-align:middle;
  padding:2rem;
}
#site-name a {
  color:#FFF;
}
.search-form {
  position:relative;
  background:#FDFDFD;
  text-align:center;
}
.search-form input {
  border:none;
  border:dotted 1px #666;
  color:#666;
  border-radius:5px;
  font-size:2.0rem;
  margin:1rem auto; 
  width:90%;
  background-color:#fdfdfd;
}
.search-form input::placeholder {
  font-style:italic;
}
.search-form input:focus {
  border:solid 1px #ccc;
  background-color:#transparent;
}

.search-form.hide {
  display:none;  
}

footer {
  text-align:center;
  border-top:solid 5px #666;
  padding:50px;
}
ul.footer-links {
  list-style:none;
  margin:0;
  padding:0;
}
ul.footer-links li {
  display:inline;  
}

.guide-header {
  margin-bottom:25px;
}

ul.guide-summary {
  list-style:none;
  margin:0;
  padding:0;
}
ul.guide-summary li {
  display:block;
  padding:10px;
  margin-bottom:10px;
  border:solid 1px #ddd;
  border-radius:5px;
  text-transform:uppercase;
}

ul.guide-summary .label {
  text-transform:uppercase;
  font-weight:400;
  padding-left:.6rem;
}

ul.guide-summary .detail {
  text-align:right;
  display:block;
  float:right;
}
/**
 * https://www.materialui.co/colors
 **/
.easy {
  color:#8BC34A;
}
.medium {
  color:#FFC107;
}
.hard {
  color:#FF5722;
}
#content a.fontawesome-icon,
#content a.pdf-icon,
#content a.print-icon {
  display:block;
  float:right;
  border:solid 1px transparent;
  color: #000;
  padding:2px 5px;
}
#content a.fontawesome-icon:hover,
#content a.pdf-icon:hover,
#content a.print-icon:hover {
  border:solid 1px #ddd;
  border-radius:5px;
}


#content .tags .tag-name,
.tags .tag-name {
  border:solid 1px #ccc;
  padding:5px;
  background-color:#ffffff;
  border-radius:5px;
  text-transform:uppercase;
  font-size:1.2rem;
  color:#222;
}
#content .tags .tag-name:hover,
.tags .tag-name:hover {
  background-color:#f6f6f6;
}
.listjs-search {
  margin-bottom:25px;
  position:relative;
  max-width:300px;
}
.listjs-search input {
  width:100%;
  padding:5px;
  border-radius:5px;
  border:solid 1px #ddd;
}
.listjs-search input:outline {
  border-color:#666;
}
.listjs-search .fa-search {
  position:absolute;
  right:10px;
  top:9px;
  color:#666;
}

.read-more-wrapper {
  text-align:right;  
}
.read-more {
  text-transform:uppercase;
}



