/**
 * This is a general theme CSS file used to style all mobile & global
 * styles following the "mobile first" pattern. To stay organized and
 * prevent this file becoming long and unmanageable, it's recommended you
 * use component stylesheets when possible before using this file.
 *
 * After you have defined your global styles here, all tablet &
 * desktop media queries should be defined separately in the
 * breakpoints.css file.
 */

/**
 * Layout and containers
 */
html {
  overflow-x: hidden;
}
html, #container, .inner {
  position: relative;
  min-height: 100%;  
  /*background-color:#222;*/
}
#container {
  margin:0 auto;
  margin-bottom:100px;
  max-width:100%;
  overflow:auto;
}
a {
  color:#2d63af;
}
#content {
  padding:20px;
  margin:0 auto;
  /*background:rgba(0,0,0,.5);*/
  margin:0 auto;
}

#content a {
  border-bottom:solid 1px #949494;
}



/* Uncomment for full scale background style */
/*
html, #container, .inner { background-color:transparent;}
#content { background: rgba(0,0,0,.8); }
html {
  background:url(../../images/background/tapemachine.jpg) center center no-repeat fixed;
  background-size:cover;
}
*/

/**
 * Header
 */
header {
  /*
  background:#16191e;
  color:#FFF;
  */
  /*position:sticky;
  top:0px;
  z-index:10;
  */
}
header a {
  /*color:#cfd2da;*/
}
header {
  background:url(../../../assets/images/3D-Printers-at-Chicago-Public-Library.jpg) center center no-repeat fixed;
  background-size:cover;  
  height:20rem;
}
#logo-site-name {
  /*color:#000;*/
  margin-right:2rem;
}
#site-name {
  font-size:2.4rem;
  margin:0;
  padding:0 1rem;
  vertical-align:middle;
  display:inline-block;
  line-height:56px; /* This is affected by top & bottom border widths*/
}
.logo {
  display:inline-block;
}
.logo a {
}
.logo img {
  vertical-align:middle;
  padding:1rem;
}
#site-name a {
  color:#FFF;
}
.search-form {
  position:relative;
}
.search-form input::before {
  float:left;
  content:"\f002"; /* search icon */
  font-family:FontAwesome;
}
.search-form input {
  border:none;
  border-bottom:solid 5px #666;
  color:#666;
  border-radius:0;
  font-size:3.0rem;
  padding:3.0rem 5rem;
  width:100%;
  background-color:#FDFDFD;
  font-family:Inconsolata, mono;
}
.search-form input::placeholder {
  font-style:italic;
}
.search-form input:focus {
  border:none;
  border-bottom:solid 5px #666;
  background:#CFD8DC;
}
.search-form input:focus::placeholder {
  display:none;
}
.search-form.hide {
  display:none;  
}

footer {
  text-align:center;
  border-top:solid 5px #666;
  padding:50px;
}
ul.footer-links {
  list-style:none;
  margin:0;
  padding:0;
}
ul.footer-links li {
  display:inline;  
}

