img {
  max-width:100%;
  height:auto;
}

iframe {
  width:100%;
}

#content img.guide-example-image {
  border-radius:5px;
  border:solid 1px #ddd;
  padding:0;
  margin:0;
  display:inline;
}

#content iframe,
#content img {
  border:solid 1px #ddd;
  border-radius:5px;
  padding:5px;
  display:block;
  margin:10px auto;
}
#content a.fancybox {
  cursor: zoom-in;
  outline:none;
  border:none;
  text-decoration:none;
}