img {
  max-width:100%;
  height:auto;
}

iframe {
  width:100%;
}

img.guide-example-image {
  border-radius:5px;
  border:solid 1px #ddd;
}

#content iframe,
#content img {
  border:solid 1px #ddd;
  padding:2px;
  display:block;
  margin:10px auto;
}
#content a.fancybox {
  cursor: zoom-in;
}