/**
 * Lists
 */
ul ul,
ul ol,
ol ol,
ol ul {
  margin:1rem 0 1rem 1.5em;
}
li {
  margin-bottom: 1rem;
}
ol li {
  list-style:outside decimal;
}
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
.slidedecks {
  list-style-type:none;
  margin:0;
  padding:0;
}
.slidedecks li {
  padding:5px 10px;
  margin:0;
}
.slidedecks li:hover {
}

/* Guide/Tags list search*/
.list-search {
  margin-bottom:25px;
  position:relative;
  max-width:300px;
}
.list-search input {
  width:100%;
  padding:5px;
  border-radius:5px;
  border:solid 1px #ddd;
}
.list-search input:outline {
  border-color:#666;
}
.list-search .fa-search {
  position:absolute;
  right:10px;
  top:9px;
  color:#666;
}

.list h4 {
  background-color:#ddd;
  border-radius:0px 0px 0 0;
  border-bottom:solid 1px #ccc;
  border-left:solid 5px #1E88E5;
  color:#888;
  padding:5px 10px;
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;  
  text-align:left;
  margin-left:-15px;
}
.list ul {
  margin:0;
  padding:0;
  list-style:none;
}
.list ul li:before {
  content:"▨";
  color:#ddd;
}

.list .category {
  border-top:solid 1px #ddd;
  margin:1px 0;
}

.list .tags a {
  border:none;
  padding:0;
  font-style:italic;
}
.list .tags a:after {
  content:" · ";
}
.list .tags a:last-child:after {
  content:"";
}

#content .list .tags .tag-name {
  border:none;
  padding:0;
  margin:0;
  font-size:10px;
}

