
/**
 * Main menu
 */
.menu {
  list-style:none;
  margin:0;
  padding:0;
  display:block;
}

.menu ul {
  margin:0;
  padding:0;
  list-style:none;
}
.menu li {
  /*display:inline;*/
}  
.menu li a {
  margin:0;
  padding:0 2rem;
  display:block;
  vertical-align:middle;
  border-top:solid 3px transparent;
  border-bottom:solid 3px transparent;
  border-left:solid 3px transparent;
  line-height:50px; /* this plus borders = 56px*/
  /* border-right:solid 1px #333;*/  
  text-align:left;
  outline:none;
  color:#666;
  font-weight:bold;
}
.menu li li a {
  font-size:1.4rem; 
  font-weight:normal;
  padding-left:4rem;
}
.menu li a:hover {
  color:#222;
  /*border-bottom-color:#d35400;*/
  background-color:#ccc; 
}
.menu li a:focus {
  color:#222;
}
.menu li a.active {
  border-left-color:#d35400;
  color:#222;
}

.mobile-menu-toggle {
  display:block;
  float:right;
  font-size:2.2rem;
  padding:10px 20px;
  z-index:101;
  cursor:pointer;
}
ul.menu.hide {
  display:none;
}

nav {
    position:absolute;
    width:300px;
    border:solid 1px #fdfdfd;
    top:0;
    bottom:0;
    right:0;
    z-index:10;
    background:#eee;
}

a.mobile-menu-toggle {
   color:#222; 
}