
/**
 * Main menu
 */
.menu {
  list-style:none;
  margin:0;
  padding:0;
  display:block;
}

.menu ul {
  margin:0;
  padding:0;
  list-style:none;
}
.menu li {
  /*display:inline;*/
}  
.menu li a {
  margin:0;
  padding:0 2rem;
  display:block;
  vertical-align:middle;
  /*
  border-top:solid 3px transparent;
  border-bottom:solid 3px transparent;
  */
  border-left:solid 3px transparent;
  line-height:50px; /* this plus borders = 56px*/
  /* border-right:solid 1px #333;*/  
  text-align:left;
  outline:none;
  color:#666;
  font-weight:bold;
}
.menu li li a {
  font-size:1.4rem; 
  font-weight:normal;
  padding-left:4rem;
}
.menu li a:hover {
  color:#222;
  /*border-bottom-color:#d35400;*/
  background-color:#ccc; 
}
.menu li a:focus {
  color:#222;
}
.menu li a.active {
  border-color:#d35400;
  color:#222;
}

.mobile-menu-toggle,
.mobile-search-toggle {
  display:inline-block;
  font-size:2.2rem;
  padding:10px 20px;
  z-index:101;
  cursor:pointer;
  color:#222;
}
.mobile-menu-toggle:hover,
.mobile-menu-toggle:active,
.mobile-search-toggle:hover
.mobile-search-toggle:active {
  background-color:#ccc;
  border-radius:50%;
}

.mobile-menu-icons {
  float:right;
}

.mobile-menu-toggle.close {
  text-align:right;
  background-color:#ddd;
  border-bottom:solid 1px #ccc;
  color:#666;
}


.mobile-search-toggle.close {
  float:right;
  text-align:left;
  color:#666;
}

ul.menu.hide {
  display:none;
}

nav {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  width:300px;
  height:auto;
  background:#eee;
  z-index:101;
}
nav.hide {
  display:none;
}
