
/**
 * Main menu
 */
.menu {
  list-style:none;
  margin:0;
  padding:0;
  display:block;
}

.menu ul {
  margin:0;
  padding:0 2rem;
  list-style:none;
}
.menu li {
  /*display:inline;*/
}  
.menu li a {
  margin:0;
  padding:0 2rem;
  display:inline-block;
  vertical-align:middle;
  border-top:solid 3px transparent;
  border-bottom:solid 3px transparent;
  border-left:solid 3px transparent;
  line-height:50px; /* this plus borders = 56px*/
  /* border-right:solid 1px #333;*/  
  text-align:center;
  outline:none;
  color:#666;
}
.menu li a:hover {
  color:#222;
  /*border-bottom-color:#d35400;*/
}
.menu li a:focus {
  color:#222;
}
.menu li a.active {
  border-left-color:#d35400;
  color:#222;
}

.mobile-menu-toggle {
  display:block;
  float:right;
  font-size:2.2rem;
  padding:10px 20px;
  z-index:101;
  cursor:pointer;
}
ul.menu.hide {
  display:none;
}

nav {
    position:absolute;
    width:300px;
    border:solid 1px #fdfdfd;
    top:50px;
    right:0;
    z-index:10;
    background:#eee;
}
