
/**
 * Main menu
 */
.menu {
  list-style:none;
  margin:0;
  padding:0;
  display:block;
}

.menu ul {
  margin:0;
  padding:0;
  list-style:none;
}
.menu li {
  /*display:inline;*/
}  
.menu li a {
  margin:0;
  padding:0 2rem;
  display:block;
  vertical-align:middle;
  /*
  border-top:solid 3px transparent;
  border-bottom:solid 3px transparent;
  */
  border-left:solid 3px transparent;
  line-height:50px; /* this plus borders = 56px*/
  /* border-right:solid 1px #333;*/  
  text-align:left;
  outline:none;
  color:#666;
  font-weight:bold;
}
.menu li li a {
  font-size:1.4rem; 
  font-weight:normal;
  padding-left:4rem;
  min-width:150px;  
}
.menu li a:hover {
  color:#222;
  /*border-bottom-color:#d35400;*/
  background-color:#ccc; 
}
.menu li a:focus {
  color:#222;
}
.menu li a.active {
  border-color:#d35400;
  color:#222;
}

.mobile-menu-toggle,
.mobile-search-toggle {
  display:inline-block;
  font-size:2.2rem;
  padding:10px 20px;
  z-index:101;
  cursor:pointer;
  color:#FFF;
  background:#222;
}

nav .mobile-search-toggle {
  background:transparent;
  color:inherit;
}

.mobile-menu-icons {
  float:right;
  margin:2rem 1rem;
}

.mobile-menu-toggle.close {
  text-align:right;
  background-color:#ddd;
  border-bottom:solid 1px #ccc;
  color:#666;
}


.mobile-search-toggle.close {
  float:right;
  text-align:left;
  color:#666;
}

ul.menu.hide {
  display:none;
}

nav {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  width:300px;
  height:auto;
  background:#eee;
  z-index:101;
  visibility:visible;
  transition: all .5s ease;  
  overflow-y:scroll;
}
nav.hide {
  visibility:hidden;
  display:none;
}

/* Jump-nav for /learn */
/* colors: https://www.materialui.co/colors */
.jump-nav {
  border-top:solid 5px #1E88E5;
  background-color:#ECEFF1;
  padding:15px;
}

.jump-nav h3 {
  text-transform:uppercase;
  color:#222;
  font-size:1.4rem;
  letter-spacing:2px;
}
.jump-nav ul {
  list-style:none;
  margin:0;
  padding:0;
  margin-left:1rem;
}

#content .jump-nav li a {
  color:#888;
  font-size:1.2rem;
  display:block;
  border:none;
  text-transform:uppercase;
}
.jump-nav li a:hover {
  color:#333;
}
