---
title: Guides
header_image: uploads/coding.jpg
---


<section class="categories">
    {% assign collection  = site.guides %}
    {% assign groups = site.guides | group_by: "categories" | sort: "name" %}



    {% for guide in site.guides %}
        <a href="{{ guide.url }}">{{ guide.title }}</a>
    {% endfor %}


    {% for group in groups %}
		{% assign name = group.title %}
		{% assign posts = group.items %}
		{% assign size = group.items | size %}
		<section class="category">
				<h3>
					<a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ name | replace: "-", " " }}</a>
				</h3>

			<ul>
				{% if size > 4 %}
					<li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li>
				{% endif %}
			</ul>
		</section>
	{% endfor %}
</section>


<section class="row topics">
  <div class="col-sm-4">

    <div class="jump-nav">
      <h3>Topics</h3>
      <ul>
      {% for topic in topics %}
       {% assign guides = site.guides | where:"categories",topic %}
       {% if guides.size > 0 %}
    			<li><a href="#{{ topic }}">{{ topic }}</a></li>
    		{% endif %}
    	{% endfor %}
  	  </ul>
  	</div>
    
  </div>
  <div class="col-sm-8">
    <div id="guide-list">
      <div class="listjs-search">
        <input placeholder="Filter..." class="search" /> <i class="fa fa-search"></i>
      </div>
      <div class="list">
        {% for topic in topics %}
         {% assign guides = site.guides | where:"categories",topic %}
         {% if guides.size > 0 %}
      		<section class="category">
      			<h4 class="topic">{{ topic }}<a name="{{topic}}"></a></h4>
      			<ul>
      			  {% for guide in guides %}
      			    <li class="title"><a href="{{ guide.url }}">{{ guide.title }}</a></li>
      			  {% endfor %}
      			</ul>
      		</section>
      		{% endif %}
      	{% endfor %} 
    	</div>
    </div>
  </div>
</section>
