---
title: Guides
header_image: uploads/coding.jpg
---

{% assign topics = site.topics | sort: "name" %}
 
<section class="row topics">
  <div class="col-sm-4">

    <div class="jump-nav">
      <h3>Topics</h3>
      <ul>
      {% for topic in topics %}
       {% assign guides = site.guides | where:"topic",topic %}
       {% if guides.size > 0 %}
    			<li><a href="#{{ topic }}">{{ topic }}</a></li>
    		{% endif %}
    	{% endfor %}
  	  </ul>
  	</div>
    
  </div>
  <div class="col-sm-8">
    <div id="guide-list">
      <input class="search" />
      <span class="sort" data-sort="topic">Sort by topic</span>      
      <span class="sort" data-sort="title">Sort by title</span>
      {% for topic in topics %}
       {% assign guides = site.guides | where:"topic",topic %}
       {% if guides.size > 0 %}
    		<section class="category">
    			<h4 class="topic">{{ topic }}<a name="{{topic}}"></a></h4>
    			<ul>
    			  {% for guide in guides %}
    			    <li class="title"><a href="{{ guide.url }}">{{ guide.title }}</a></li>
    			  {% endfor %}
    			</ul>
    		</section>
    		{% endif %}
    	{% endfor %}    
    </div>
  </div>
</section>
<script>
  var options = {
    valueNames: [ 'title', 'topic' ]
  };
  var guideList = new List('guide-list', options);  
</script>
