---
title: Tags
header_image: uploads/coding.jpg
---

{% assign tags = site.tags | sort: "name" %}
 
<section class="row topics">
  <div class="col-sm-4">

    <div class="jump-nav">
      <h3>Tags</h3>
      <ul>
      {% for tag in tags %}
       {% assign guides = site.guides | where:"tag",tag %}
       {% if guides.size > 0 %}
    			<li><a href="#{{ tag }}">{{ tag }}</a></li>
    		{% endif %}
    	{% endfor %}
  	  </ul>
  	</div>
    
  </div>
  <div class="col-sm-8">
    
    {% for tag in tags %}
     {% assign guides = site.guides | where:"tag",tag %}
     {% if guides.size > 0 %}
  		<section class="category">
  			<h4>{{ tag }}<a name="{{tag}}"></a></h4>
  			<ul>
  			  {% for guide in guides %}
  			    <li><a href="{{ guide.url }}">{{ guide.title }}</a></li>
  			  {% endfor %}
  			</ul>
  		</section>
  		{% endif %}
  	{% endfor %}    
    
  </div>
</section>
