---
title: Tags
header_image: 
---

{% assign tags = "," | split: "," %}

{% assign everything = site.guides | concat:site.posts %}

{% for guide in site.guides %}
   {% assign tags = tags | concat: guide.tags %}
{% endfor %}

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% tags | push: t%}
{% endfor %}

<pre>
</pre>

<section class="row topics">
  <div class="col-sm-4">

    <div class="jump-nav">
      <h3>Tags</h3>
      <ul>
      {% for tag in tags %}
       {% assign items = everything | where:"tags",tag %}
       {% if items.size > 0 %}
    			<li><a href="#{{ tag }}">{{ tag }}</a></li>
    		{% endif %}
    	{% endfor %}
  	  </ul>
  	</div>
    
  </div>
  <div class="col-sm-8">
    <div id="guide-list">
      <div class="listjs-search">
        <input placeholder="Filter..." class="search" /> <i class="fa fa-search"></i>
      </div>
      <div class="list">
        {% for tag in tags %}
         {% assign items = everything | where:"tags",tag %}
         {% if items.size > 0 %}
      		<section class="category">
      			<h4 class="topic">{{ tag }}<a name="{{tag}}"></a></h4>
      			<ul>
      			  {% for item in items %}
      			    <li class="title"><a href="{{ item.url }}">{{ item.title }}</a></li>
      			  {% endfor %}
      			</ul>
      		</section>
      		{% endif %}
      	{% endfor %} 
    	</div>
    </div>
  </div>
</section>
