---
title: Guides
header_image: uploads/coding.jpg
permalink: /guides
---

{% assign topics = "," | split: ","%}

{% for guide in site.guides %}
 {% assign topics = topics | concat: guide.categories | uniq | sort %}
{% endfor %}


<section class="topics">
    <div id="guide-list">
      <ul class="list">
        {% for topic in topics %}
         {% assign guides = site.guides | where:"categories",topic %}
         {% if guides.size > 0 %}
      	
      			  {% for guide in guides %}
      			    <li class="row">
      			      <div class="col-sm-3"><h4 class="topic">{{ topic }}<a name="{{topic}}"></a></h4></div>
      			      <div class="col-sm-6"><a href="{{ guide.url }}">{{ guide.title }}</a></div>
        			    <div class="col-sm-3">
          			    <span class="tags">
          			    {% for tag in guide.tags %}
                      <a class="tag-name" href="/tags#{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                    </span>
                  </div>
      			    </li>
      			  {% endfor %}
      
      		{% endif %}
      	{% endfor %} 
    	</div>
    </div>
</section>
