---
title: Slide Decks
header_image:
permalink: /slidedecks
---

    
 {% assign decks = site.slidedecks %}
 {% if decks.size > 0 %}
		<ul class="slidedecks">
		  {% for deck in decks %}
		    <li><a target="_blank" href="{{ deck.url }}">{{ deck.title }}</a> | <a title="Launch slideshow" href="{{ deck.url }}"><i class="fa fa-fw fa-external"></i></a> | <a title="Print Friendly Version" href="{{ deck.url }}?print-pdf"><i class="fa fa-fw fa-print"></i></a> | <a title="Download PDF" href="{{ deck.url }}?print-pdf&generatePDF=1"><i class="fa fa-file-pdf-o fa-fw"></i></a></li>
		  {% endfor %}
		</ul>
	{% endif %}
