---
title: Worksheets
header_image: uploads/coding.jpg
permalink: /worksheets
---

{% assign topics = "," | split: ","%}

{% for work in site.worksheets %}
 {% assign topics = topics | concat: worksheet.categories | uniq | sort %}
{% endfor %}


<section class="topics">

    <div id="worksheet-list">
      <div class="list-search">
        <input placeholder="Filter..." class="js-filter-search" /> <i class="fa fa-search"></i>
      </div>      
      <div class="list">
        {% for topic in topics %}
         {% assign worksheets = site.worksheets | where:"categories",topic %}
         {% if worksheets.size > 0 %}
      		<section class="category row">
      			<div class="col-sm-3">
      			  <h4 class="topic">{{ topic }}<a name="{{topic}}"></a></h4>
      			</div>  
      			<div class="col-sm-8">
      			<ul>
      			  {% for work in worksheets %}
      			    <li class="title">
      			      <a href="{{ work.url }}">{{work.title }}</a>
        			    <span class="tags">
        			    {% for tag in work.tags %}
                    <a class="tag-name" href="/tags#{{ tag }}">{{ tag }}</a>
                  {% endfor %}
                  </span>
      			    </li>
      			  {% endfor %}
      			</ul>
      			</div>
      		</section>
      		{% endif %}
      	{% endfor %} 
    	</div>
    </div>
</section>
