---
layout: default
---
{% if page.example_image %}
<div class="guide-header row">
  <div class="col-sm-6">
    <img class="guide-example-image" src="{{ page.example_image }}">
  </div>
  <div class="col-sm-6">
    <ul class="guide-summary">
      {% if page.difficulty %}
        <li class="difficulty"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i> <span class="label">Difficulty</span> <span class="detail {{ page.difficulty | downcase }}">{{ page.difficulty }}</span></li>
      {% endif %}
      {% if page.time_required %}
        <li class="time-required"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> <span class="label">Time required</span> <span class="detail">{{ page.time_required }}</span></li>
      {% endif %}
      {% if page.file_attachment_path %}
      {% assign fileurl = page.file_attachment_path | split: "/" %}
        <li class="attachment"><i class="fa fa-file-o fa-fw" aria-hidden="true"></i> <span class="label">File </span> <span class="detail"><a target="_blank" href="{{ page.file_attachment_path }}" download><i class="fa fa-download" aria-hidden="true"></i> {{ fileurl.last }}</a></span></li>
      {% endif %}        
    </ul>
  </div>
</div>
{% elsif page.difficulty or page.time_required %}
<div class="guide-header">
  <ul class="guide-summary">
    {% if page.difficulty %}
      <li class="difficulty"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i> <span class="label">Difficulty</span> <span class="detail {{ page.difficulty | downcase }}">{{ page.difficulty }}</span></li>
    {% endif %}
    {% if page.time_required %}
      <li class="time-required"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> <span class="label">Time required</span> <span class="detail">{{ page.time_required }}</span></li>
    {% endif %}
    {% if page.file_attachment_path %}
    {% assign fileurl = page.file_attachment_path | split: "/" %}
      <li class="attachment"><i class="fa fa-file-o fa-fw" aria-hidden="true"></i> <span class="label">File </span> <span class="detail"><a target="_blank" href="{{ page.file_attachment_path }}" download><i class="fa fa-download" aria-hidden="true"></i> {{ fileurl.last }}</a></span></li>
    {% endif %}    
  </ul>
</div>
{% endif %}

{{ content }}

<hr class="print-hidden">

{% if page.tags.size > 0 %}
<span class="tags print-hidden">
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a class="tag-name" href="/tags#{{ tag_name }}">{{ tag_name }}</a> 
  {% endfor %}
</span>
{% endif %}

<div class="icon-group">
  <a title="{{- page.title | slugify -}}.pdf" class="js-generate-pdf pdf-icon print-hidden" href="#" ><i class="fa fa-file-pdf-o fa-fw"></i></a>
  <a title="Print page" class="print-icon print-hidden" href="#" onclick="window.print();return false;"><i class="fa fa-print fa-fw"></i></a>
</div>



