---
layout: default
---
{% if page.example_image %}
<div class="guide-header row">
  <div class="col-sm-6">
    <img class="guide-example-image" src="{{ page.example_image }}">
  </div>
  <div class="col-sm-6">
    <ul class="guide-summary">
      {% if page.difficulty %}
        <li><i class="fa fa-bolt fa-fw" aria-hidden="true"></i><span class="label">Difficulty:</span> {{ page.difficulty }}</li>
      {% endif %}
      {% if page.difficulty %}
        <li><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="label">Time required:</span> {{ page.time_required }}</li>
      {% endif %}
      {% if page.file_attachment_path %}
        <li><i class="fa fa-file fa-fw" aria-hidden="true"></i><span class="label"><a target="_blank" href="{{ page.file_attachment_path }}">Download files</a></span></li>
      {% endif %}      
    </ul>
  </div>
</div>
{% elsif page.difficulty or page.time_required %}
<ul class="guide-summary">
  {% if page.difficulty %}
    <li><i class="fa fa-bolt fa-fw" aria-hidden="true"></i><span class="label">Difficulty:</span> {{ page.difficulty }}</li>
  {% endif %}
  {% if page.time_required %}
    <li><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> <span class="label">Time required:</span>{{ page.time_required }}</li>
  {% endif %}
  {% if page.file_attachment_path %}
    <li><i class="fa fa-file fa-fw" aria-hidden="true"></i><span class="label"><a target="_blank" href="{{ page.file_attachment_path }}">Download files</a></span></li>
  {% endif %}    
</ul>
{% endif %}


{{ content }}


{% if page.tags.size > 0 %}
Tags: <span>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tags#{{ tag_name }}">{{ tag_name }}</a> 
  {% endfor %}
</span>
{% endif %}