<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<title>{{ page.title }} | CPL Maker Lab</title>

		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/reset.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/reveal.css" />
		{% if page.slide_theme and page.slide_theme != 'makerlab' %}
		  <!-- revealjs default stylesheets -->
		  <link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/theme/{{ page.slide_theme }}.css" id="theme" />
    {% else %}
      <!-- custom stylesheet -->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components/slidedeck.css" id="theme" />
    {% endif %}
		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/plugin/highlight/monokai.css" id="highlight-theme" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans|Inconsolata|Source+Sans+Pro" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components/slidedeck.css" />

	</head>
	<body>

		<div class="reveal">
			<div class="slides">
      {% for slide in page.slides %}
        <section data-background-color="{{ slide.background_color }}" class="content editable">{{ slide.content_markdown | markdownify }}</section>
      {% endfor %}
			</div>
		</div>

		<script src="{{ site.baseurl }}/assets/js/revealjs/dist/reveal.js"></script>
		<script src="{{ site.baseurl }}/assets/js/revealjs/plugin/highlight/highlight.js"></script>
		<script src="{{ site.baseurl }}/assets/js/revealjs/plugin/zoom/zoom.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
				slideNumber: 'c/t',
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealHighlight, RevealZoom ]
			}).then(
  			function(){
         // Reveal.toggleOverview(true);			 
  			}
			);

		</script>
	  <div class="slidedeck-branding">
	    <a href="{{ site.baseurl }}/"><img alt="logo" title="Logo" src="{{site.data.images.logo_image}}" /></a> 
	  </div>		
	</body>
</html>
