<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/reset.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/reveal.css" />
		{% if page.slide_theme %}
		  <link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/theme/{{ page.slide_theme }}.css" id="theme" />
    {% else %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/theme/blood.css" id="theme" />
    {% endif %}
		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/plugin/highlight/monokai.css" id="highlight-theme" />
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
      {% for slide in page.slides %}
        <section class="content editable">{{ slide.content_markdown | markdownify }}</section>
      {% endfor %}
			</div>
		</div>

		<script src="{{ site.baseurl }}/assets/js/revealjs/dist/reveal.js"></script>
		<script src="{{ site.baseurl }}/assets/js/revealjs/plugin/notes/notes.js"></script>
		<script src="{{ site.baseurl }}/assets/js/revealjs/plugin/markdown/markdown.js"></script>
		<script src="{{ site.baseurl }}/assets/js/revealjs/plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
        toggleOverview: true,
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
