<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<title>{{ page.title }} | CPL Maker Lab</title>

		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/reset.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/reveal.css" />
		{% if page.slide_theme and page.slide_theme != 'makerlab' %}
		  <!-- revealjs default stylesheets -->
		  <link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/dist/theme/{{ page.slide_theme }}.css" id="theme" />
    {% else %}
      <!-- custom stylesheet -->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components/slidedeck.css" id="theme" />
    {% endif %}
		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/js/revealjs/plugin/highlight/monokai.css" id="highlight-theme" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans|Inconsolata|Source+Sans+Pro" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components/slidedeck.css" />
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	</head>
	<body>

		<div class="reveal">
			<div class="slides">
      {% for slide in page.slides %}
  			{% assign class = 'content editable ' %}
  			{% if slide.background_image %}
  			  {% assign class = class | append: 'full-background-slide' %}
  			{% endif %}      
        <section data-background-color="{{ slide.background_color }}" data-background-image="{{ slide.background_image }}" class="{{ class }}">{{ slide.content_markdown | markdownify }}</section>
      {% endfor %}
			</div>
		</div>

		<script src="{{ site.baseurl }}/assets/js/revealjs/dist/reveal.js"></script>
		<script src="{{ site.baseurl }}/assets/js/revealjs/plugin/highlight/highlight.js"></script>
		<script src="{{ site.baseurl }}/assets/js/revealjs/plugin/zoom/zoom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js" integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA==" crossorigin="anonymous"></script>		

		<script>
		  /* Get URL vars to use to generate print-pdf */
      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
      }
		
      /*@@TODO move all this to main.js */

      function toggleFullscreen(elem) {
        elem = elem || document.documentElement;
        if (!document.fullscreenElement && !document.mozFullScreenElement &&
          !document.webkitFullscreenElement && !document.msFullscreenElement) {
          if (elem.requestFullscreen) {
            elem.requestFullscreen();
          } else if (elem.msRequestFullscreen) {
            elem.msRequestFullscreen();
          } else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
          } else if (elem.webkitRequestFullscreen) {
            elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
          }
        } else {
          if (document.exitFullscreen) {
            document.exitFullscreen();
          } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
          } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
          } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
          }
        }
      }			

			
      $(function() {
  			// More info about initialization & config:
  			// - https://revealjs.com/initialization/
  			// - https://revealjs.com/config/
  			Reveal.initialize({
  				hash: true,
  				slideNumber: 'c/t',
  				// Learn about plugins: https://revealjs.com/plugins/
  				plugins: [ RevealHighlight, RevealZoom ]
  			}).then(
    			function(){
            // Reveal.toggleOverview(true);			
            document.querySelector('.overview').addEventListener('click', function(){
            Reveal.toggleOverview();
            });
            document.querySelector('.fullscreen').addEventListener('click', function(){
             // Toggle fullscreen
            toggleFullscreen();
            });

            var pdf = getUrlVars()["generatePDF"];
            if (pdf != null) {
              $('body').css('height', 'auto');
              var opt = {
                margin:       .25,
                filename:     '{{- page.title | slugify -}}.pdf',
                image:        { type: 'jpeg', quality: 1 },
                html2canvas:  { scale: 1 },
                jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }
              };    
              setTimeout(function(){
                html2pdf().set(opt).from(document.body).save();
              }, 1000);
            }    
          
    			}
  			);        
      });
		</script>
		
	  <div class="slidedeck-branding">
	    <a href="{{ site.baseurl }}/"><img alt="logo" title="Logo" src="{{site.data.images.logo_image}}" /></a> 
	    <span class="helper-controls"><i title="Overview [O] [ESC]" class="fa fa-th fa-fw overview"></i>  <i class="fa fa-expand fa-fw fullscreen" title="Fullscreen [F]"></i></span>
	  </div>		
	</body>
</html>
